
/* Basic Reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background: #b0e9ff;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    background-color: #3ABEF9;
    color: #ffffff;
   
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #050C9C;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3941d7;
    color: rgb(255, 255, 255);
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}


@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }

    .result {
        font-size: 16px;
    }
}

